.contact-form{
    width: 100%;
    // margin-top: 20px;

    ul{
        padding: 0;
        margin: 0;

        li{
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 0;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;
            clear: both;
        }

        tag-li{
            width: 49%;
            margin-left: 2%;
            float: left;
            clear: none;

            &:first-child{
                margin-left: 0;
            }
        }
    }

    input[type='text'],
    input[type='email']{
        width: 100%;
        border: 0;
        background: #115173;
        height: 50px;
        font-size: 16px;
        color: #fff;
        padding: 0 20px;
        box-sizing: border-box;
    }

    textarea{
        width: 100%;
        border: 0;
        background: #115173;
        height: 40px;
        font-size: 16px;
        color: #fff;
        padding: 20px;
        min-height: 150px;
        box-sizing: border-box;
    }

    .contact-button{
        color: #ffd700;
        background: 0 0;
        font: 11px;
        letter-spacing: 3px;
        padding: 8px 10px;
        border: 1px solid #ffd700;
        float: right;
        border-radius: 4px;
    }
}

.map{
    margin-left: 55%;
    width: 600px;
    height: 100%;
    margin-top: -5%;
}

@media screen and (max-width: 799px) {

    .contact-page .text-zone {
        left: 20%;
        top: 30%;
        width: 50%;

        textarea{
            height: 20px;
        }
    }
    .map {
       margin-top: 75%; 
       margin-left: 0px;
       width: 100%;
       height: 300px;
    }
}

// @media screen and (max-width: 477px){
//     .map{
//         display: none;
//     }

//     .contact-page .text-zone{
//         padding: 10px;
//     }

// }