@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');
.text-shpere{
    position: absolute;
    // width:80px;
    // height: 80px;
    top: -10%;
    left: 55%;
    font-weight: 600;
    font-size: 18px;
}

.tagcloud--item {
    // color: #00ffffff;
    color: #fff;
    text-transform: uppercase;
}

.tagcloud--item:hover{
    color: #ffd700;
}
